<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://girohubsinc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2e0bff2e-76d4-48cf-83b6-a43f0873eb54/resourceGroups/GiroApp/providers/Microsoft.Web/sites/GiroHubSinc</ResourceId>
    <UserName>$GiroHubSinc</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://girohubsinc.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAKzpFclAmBUKQKRffo5f8hwAAAAACAAAAAAAQZgAAAAEAACAAAACel4yQt1aUKZVw6rGT5Eb6X09tk0Gj4EOsNEj0ghRTaQAAAAAOgAAAAAIAACAAAABCK3FyRpV1SE/uY3Xm2rMOnm2KcUQtmH5Fi5iPySNYqoAAAAA6a4FCXKa/UCNOOuoqQS6EuZJmgnqhciO9Xs33lNSfw3rZ9DYmktawSBjdMaXKLBveJhPfcVB6omk1lKdJQWRDnbSyWR8Sib7GCdKVfJ7Vy3VQUWitBJnpd6QdvGXbMkQ70osu5eq6g+mjP67xOykkXAoKz+vklgKZ2PtAnfWdZEAAAADLYa6wriBO730W76xuQkEffExBZaH5RlgPui7bRpKL3sO2Uaj8kn4ztHNWEvS1ccTgUh45PCdTq9SZlJUA8c8M</EncryptedPassword>
    <History>False|2024-06-07T01:12:35.5598701Z;</History>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>